<form>
<mat-card>
  <mat-card-title>
    <mat-card-header>Cadastro de Tarefa</mat-card-header>
  </mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <mat-label>Descrição da tarefa</mat-label>
      <input matInput [value]="taskValue.description" (change)="refreshTask($event)">
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)="saveTask()">Salvar</button>
    <button mat-raised-button (click)="navigateToHome()"> cancelar</button>
  </mat-card-actions>
</mat-card>
</form>
