.full-width-table {
  width: 100%;
}

mat-card {
  margin: 20px;
}

mat-card-title{
  padding: 10px;
}

.title-mat-card-with-action{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title-mat-card{
  display: flex;
}

.mat-card-action{
  display: flex;
}
